In [1]:
import pandas as pd

In [2]:
olist_customers = pd.read_csv('data/olist_customers_dataset.csv', index_col=0)

olist_customers.head()

,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
customer_id,,,,
06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [3]:
olist_customers.shape

(99441, 4)

In [4]:
import sqlite3

In [5]:
# conexão com banco de dados SQLite

conn = sqlite3.connect('olist.db')

In [6]:
olist_customers.to_sql(name= 'olist_customers', con= conn)

99441

In [7]:
# checando criação do banco de dados

!sqlite3 olist.db '.tables'

In [8]:
!sqlite3 olist.db 'PRAGMA table_info(olist_customers)'

In [9]:
# query SQL para pandas.dataframe

df_customers = pd.read_sql("""
                           SELECT *
                           FROM olist_customers
                           
                           """, con=conn)

In [10]:
df_customers

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [11]:
df_customers.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'],
      dtype='object')

In [15]:
query = """

        SELECT customer_id, customer_city, customer_state
        FROM olist_customers;

        """

In [16]:
df_customers = pd.read_sql(query, con=conn)

In [17]:
df_customers

                            customer_id          customer_city customer_state
0      06b8999e2fba1a1fbc88172c00ba8bc7                 franca             SP
1      18955e83d337fd6b2def6b18a428ac77  sao bernardo do campo             SP
2      4e7b3e00288586ebd08712fdd0374a03              sao paulo             SP
3      b2b6027bc5c5109e529d4dc6358b12c3        mogi das cruzes             SP
4      4f2d8ab171c80ec8364f7c12e35b23ad               campinas             SP
...                                 ...                    ...            ...
99436  17ddf5dd5d51696bb3d7c6291687be6f              sao paulo             SP
99437  e7b71a9017aa05c9a7fd292d714858e8        taboao da serra             SP
99438  5e28dfe12db7fb50a4b2f691faecea5e              fortaleza             CE
99439  56b18e2166679b8a959d72dd06da27f9                 canoas             RS
99440  274fa6071e5e17fe303b9748641082c8                  cotia             SP

[99441 rows x 3 columns]

In [21]:
query2 = """

        SELECT customer_id, customer_city, customer_state
        FROM olist_customers
        WHERE customer_state = 'SP';

        """

df_customers = pd.read_sql(query2, con=conn)
df_customers

                            customer_id          customer_city customer_state
0      06b8999e2fba1a1fbc88172c00ba8bc7                 franca             SP
1      18955e83d337fd6b2def6b18a428ac77  sao bernardo do campo             SP
2      4e7b3e00288586ebd08712fdd0374a03              sao paulo             SP
3      b2b6027bc5c5109e529d4dc6358b12c3        mogi das cruzes             SP
4      4f2d8ab171c80ec8364f7c12e35b23ad               campinas             SP
...                                 ...                    ...            ...
41741  f255d679c7c86c24ef4861320d5b7675              rio claro             SP
41742  f5a0b560f9e9427792a88bec97710212                cajamar             SP
41743  17ddf5dd5d51696bb3d7c6291687be6f              sao paulo             SP
41744  e7b71a9017aa05c9a7fd292d714858e8        taboao da serra             SP
41745  274fa6071e5e17fe303b9748641082c8                  cotia             SP

[41746 rows x 3 columns]

In [22]:
# fechando a conexão com o banco de dados

conn.close()